html, body {
    display: flex;
    height: 100%;
    margin: 0;
    flex-grow: 1;
}

body {
    background: linear-gradient(180deg, #9cc9f7, #9effaf);
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(67, 86, 87);
}

#display {
    background-color: gray;
}

.column-buttons {
    flex-grow: 1;
}