html, body {
    display: flex;
    height: 100%;
    margin: 0;
    flex-grow: 1;
}

body {
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    width: 450px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(67, 86, 87);
}